ion-content {
    --background: url('../../assets/images/fondo.png') 0 0/100% 100% no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --padding-top: 12%;
    
    #login-container {
        max-width: 400px;
        padding: 20px;
        // background-color: #f5f5f5;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    
        h2 {
            margin-bottom: 20px;
            color: white;
            font-size: 2em;
            text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
            font-family: 'cuteNotes', 'arial', sans-serif;
        }

        .cambiarA {
            color: rgb(54, 54, 54);
        }
    
        form {
    
            ion-list {
                background-color: #f5f5f5;
    
                ion-item {
                    --background: #f5f5f5;
                    color: rgb(51, 51, 51);
    
                    .form-group {
                        margin-bottom: 15px;
    
                        ion-input {
                            border: 1px solid #ccc;
                            padding: 10px;
                            font-size: 16px;
                            border-radius: 5px;
    
                            &:focus {
                                border-color: #ff9800;
                            }
                        }
                    }
                }
    
            }
    


            .div-btn-ingresar {
                background-color:  rgb(255, 255, 255);
            }
    
            .btn-ingresar {
                --background: linear-gradient(43deg, #4158D0 0%, #C850C0 39%, #FFCC70 84%, #ffffff 99%);
                color: rgb(255, 255, 255);
                padding: 10px;
                width: 100%;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }
    
        .errors-on-the-forms {
            color: var(--ion-color-warning);
        }
    
        #fast-login {   
            ion-item {
                background: transparent;
            }
    
            h3 {
                font-size: large;
                font-weight: 600;
                color: rgb(54, 54, 54);
            }
    
            #row-avatars {
                flex-wrap: nowrap;
            }
    
            ion-button {
                margin: 0;
    
                .grid-avatars {
                    margin-right: 0;
                    margin-left: 0;
                    padding-right: 0;
                    padding-left: 0;
    
                    ion-col {
                        display: flex;
                        justify-content: center;

                        .custom-shape {
                            width: 75px;
                            height: 75px;
                            object-fit: cover; /* Ajusta la imagen al contenedor */
                            clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
                            border: 5px solid white;
                          }
    
                        ion-text {
                            color: rgb(54, 54, 54);
                        }
                    }
                }
            }
        }
    
        ion-col.no-lateral-margin-or-padding {
            margin-right: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
        }
    
    }
}
