ion-header {
    ion-toolbar {
        --background: rgb(215, 91, 253);
        color: white;
        font-size: 1.2em;
    }
}

.botones-niveles {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .botones-niveles ion-button {
    flex: 1; /* Cada botón ocupa un tercio */
    margin: 0 5px; /* Espacio entre los botones */
  }

ion-footer {
    ion-toolbar {
        --background: rgb(255, 0, 0);

        ion-button {
            font-size: 1.2em;
            border: none;
            --box-shadow: none;
        }
    }
}  

ion-content {
    --background: url('../../assets/images/fondo.png') 0 0/100% 100% no-repeat;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 2.5em;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    font-family: 'cuteNotes', 'arial', sans-serif;
}

h2.nivel {
    color: red;
}

.tabla {
    background-color: rgba(128, 128, 128,0.6);
}

ion-grid {
    width: 100%;
  }
  
  ion-row {
    display: flex;
    justify-content: space-between; /* Asegura que las columnas estén bien distribuidas */
    align-items: center; /* Centra verticalmente el contenido en cada celda */
  }
  
  ion-col {
    flex: 1;
    text-align: center;
    padding: 8px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el contenido que se desborda */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
  }
  
  ion-col.data {
    font-size: 0.8em;
  }

  .col-icon {
    width: 100%; /* Ajusta la imagen al ancho de la columna */
    max-width: 50px; /* Establece un ancho máximo para que no sea demasiado grande */
    height: auto; /* Mantiene la relación de aspecto */
    display: block;
    margin: 0 auto; /* Centra la imagen */
  }