<ion-content>
  <div class="memory-game-container">
    <div class="level-buttons">
      <button ion-button class="level-btn simple">Simple</button>
      <button ion-button class="level-btn medio">Intermedio</button>
      <button ion-button class="level-btn dificil">Complicado</button>
    </div>
    
    <div class="small-buttons">
      <button ion-button class="small-btn puntajes">Puntajes más altos</button>
      <button ion-button class="small-btn logout-btn" (click)="onLogout()">Cerrar sesión</button>
    </div>
  </div>
</ion-content>
