<ion-content>
  <div class="memory-game-container">
    <div class="level-buttons">
      <button ion-button class="level-btn simple" routerLink="/juego/simple"><span class="boton-texto">Simple</span></button>
      <button ion-button class="level-btn medio" routerLink="/juego/intermedio"><span class="boton-texto">Intermedio</span></button>
      <button ion-button class="level-btn dificil" routerLink="/juego/complicado"><span class="boton-texto">Complicado</span></button>
    </div>
    
    <div class="small-buttons">
      <button ion-button class="small-btn puntajes" routerLink="/mejores-tiempos">Mejores tiempos</button>
      <button ion-button class="small-btn logout-btn" (click)="onLogout()">Cerrar sesión</button>
    </div>
  </div>
</ion-content>
